.BuildControl{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
.BuildControl button{
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #aa6817;
    cursor: pointer;
    outline: none;
}
.BuildControl button:disabled{
    background-color: #ac9980;
    border: 1px solid #7e7365;
    color: #ccc;
    cursor: default;
}
.BuildControl .label{
    padding: 10px;
    font-weight: bold;
    width: 80px;
    text-align: center;
}

.BuildControl .add{
    background-color: #884115;
    color: #fff;
}
.BuildControl .remove{
    background-color: #915531;
    color: #fff;
}