.Toolbar{
    height: 56px;
    width: 100%;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: #703b09;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 90;
}
.Toolbar nav{
    height: 100%;
}
.LogoWrap{
    height: 80%;
}
.MobileMenuTrigger{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    padding: 5px;
}
.MobileMenuTrigger > div{
    height: 1px;
    background-color: #ffffff;
    width: 100%;
    padding: 1px;
}
@media screen and (max-width: 500px){
    .Toolbar nav{
        display: none;
    }
}
@media screen and (min-width: 501px){
    .MobileMenuTrigger{
        display: none;
    }
}