
.Modal{
    position: fixed;
    z-index: 500;
    background-color: #ffffff;
    width: 70%;
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 1px #000000;
    padding: 1rem;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}
.Modal .modal-title{
    text-align: center;
}
.modal-footer{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}
@media screen and (min-width: 600px){
    .Modal{
        width: 500px;
        left: calc(50% - 250px);
    }
}