.nav-item{
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}
.nav-item .nav-link{
    text-decoration: none;
    color: #8f5c2c;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.nav-item .nav-link:hover,
.nav-item .nav-link:active,
.nav-item .nav-link.active{
    color: #40a4c8;
}

@media screen and (min-width: 480px){

    .nav-item{
        margin: 0;
        box-sizing: border-box;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        width: auto;
    }
    .nav-item .nav-link{
        text-decoration: none;
        color: #ffffff;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        display: block;
        height: 100%;
        width: auto;
        transition: all .2s ease-in-out;
    }
    .nav-item .nav-link:hover,
    .nav-item .nav-link:active,
    .nav-item .nav-link.active{
        background-color: #8f5c2c;
        border-bottom: 4px solid #40a4c8;
        color: white;
    }
}