.NavigationItems{
    display: flex;
    flex-flow: column;
    align-items: center;
    list-style-type: none;
    height: 100%;
    gap: 0;
    margin: 1rem 0 0;
    padding: 0;
}
@media screen and (min-width: 480px){
    .NavigationItems{
        flex-flow: row;
        margin: 0;
    }
}